.content {
  flex: 1 0 0px;
}

.gallery {
  margin: 0 8px;
}
.list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-group:after {
  content: '';
  flex: auto;
}
.item {
  display: inline-block;
  width: calc((100% - 8px * 3)/4);
  margin-bottom: 8px;
}

.list-group .item:nth-child(4n+1):nth-last-child(-n+4) ~ .item {
  margin-left: 8px;
}

.item a {
  font-size: 0;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .item {
    width: calc((100% - 8px * 7)/8);
  }

  .list-group .item:nth-child(4n+1):nth-last-child(-n+4) ~ .item {
    margin-left: 0px;
  }
 
  .list-group .item:nth-child(8n+1):nth-last-child(-n+8) ~ .item {
    margin-left: 8px;
  }

}

@media screen and (min-width: 1440px) {
  .item {
    width: calc((100% - 8px * 9)/10);
  }

  .list-group .item:nth-child(8n+1):nth-last-child(-n+8) ~ .item {
    margin-left: 0px;
  }

  .list-group .item:nth-child(10n+1):nth-last-child(-n+10) ~ .item {
    margin-left: 8px;
  }

}