.panel {
  font-family:
  system, -apple-system, BlinkMacSystemFont,
  "PingFang TC", "Segoe UI", "Microsoft YaHei", "wenquanyi micro hei", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header {
  border-bottom: 1px solid rgba(0,0,0,.12);
  background-color: #FFF;
  padding: 0 16px;
}

.title, .actions {
  margin: 16px 0;
  padding-left: 16px;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.content-inner {
  flex: 1 0 auto;
}

.footer {
  color: rgba(255,255,255,.7);
  background-color: #000;
}

.copyright {
  text-align: center;
  padding: 16px 0;
}

.breadcrumbs {
  margin-top: 16px;
}

.crumb {
  display: inline-block;
}

.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 110px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
}

.chevron-right {
  vertical-align: middle;
}

.btt {
  position: fixed;
  bottom: 32px;
  right: 16px;
}

.fixed {
  position: fixed;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .name {
    max-width: none;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
  }
}