.panel {
  font-family:
  system, -apple-system, BlinkMacSystemFont,
  "PingFang TC", "Segoe UI", "Microsoft YaHei", "wenquanyi micro hei", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
}
.page-header {
  border-bottom: 1px solid rgba(0,0,0,.12);
  background-color: #FFF;
  padding: 0 16px;
}
.content {
  flex: 1 0 0px;
}
.title, .actions {
  margin: 16px 0;
  padding-left: 16px;
}
.actions button:last-child {
  margin-left: 16px;
}
.footer {
  color: rgba(255,255,255,.7);
  background-color: #000;
}
.copyright {
  text-align: center;
  padding: 16px 0;
}
.breadcrumbs {
  margin-top: 16px;
}
.crumb {
  display: inline-block;
}
.name {
  color: #000;
  display: inline-block;
  vertical-align: middle;
}
.chevron-right {
  vertical-align: middle;
}
.btt {
  position: fixed;
  bottom: 32px;
  right: 16px;
}
