.lightbox {
  background-color: rgba(0,0,0,.87);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bar {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #FFF;
}

.tool-bar {
  composes: bar;
  top: 0;
}

.description-bar {
  composes: bar;
  bottom: 0;
}

.icon {
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  padding: 8px;
}

.fixed {
  width: 136px;
  padding-right: 16px;
  justify-content: space-between;
}

@media screen and (min-device-width: 375px) {
  .fixed {
    width: 148px;
  }
}

.fill {
  display: flex;
  flex: 1 1 0px;
  justify-content: center;
}

.chevron {
  color: #FFF;
  padding: 10px;
  background-color: rgba(0,0,0,.3);
  border-radius: 50%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  composes: chevron;
  left: 16px;
  margin-left: constant(safe-area-inset-left);
  margin-left: env(safe-area-inset-left);  
}

.next {
  composes: chevron;
  right: 16px;
  margin-right: constant(safe-area-inset-right);
  margin-right: env(safe-area-inset-right);  
}